<form #myForm="ngForm" (ngSubmit)="onSubmit()">

    <fieldset>
        <label for="email-order">email</label>
        <input id="email-order" name="email-order" type="email" [(ngModel)]="model.email" #email="ngModel" required email>
      </fieldset>
    
      <!-- Message d'erreurs de email -->
      <div *ngIf="myForm.submitted">
        <span *ngIf="email.errors?.['required']">Le champ email est requis</span>
        <span *ngIf="email.errors?.['email']">L'email est invalide</span>
      </div>
  
      <!-- First Name section -->
      <fieldset>
        <label for="firstname-order">FirstName</label>
        <input id="firstname-order" name="firstname-order" type="text" [(ngModel)]="model.firstname" #firstname="ngModel" required minlength="5" maxlength="30"/>
      </fieldset>
    
      <!-- Message d'erreurs de firstname -->
      <div *ngIf="myForm.submitted">
        <span *ngIf="firstname.errors?.['required']">Le firstname est requis</span>
        <span *ngIf="firstname.errors?.['minlength']">Le firstname doit comporter au moins 3 caractères.</span>
        <span *ngIf="firstname.errors?.['maxlength']">Le firstname ne doit pas dépasser 15 caractères.</span>
      </div>
    
    <!-- Last Name section -->
    <fieldset>
        <label for="lastname-order">lastName</label>
        <input id="lastname-order" name="lastname-order" type="text" [(ngModel)]="model.lastname" #lastname="ngModel" required minlength="5" maxlength="30"/>
        </fieldset>
    
        <!-- Message d'erreurs de lastname -->
        <div *ngIf="myForm.submitted">
        <span *ngIf="lastname.errors?.['required']">Le lastname est requis</span>
        <span *ngIf="lastname.errors?.['minlength']">Le lastname doit comporter au moins 3 caractères.</span>
        <span *ngIf="lastname.errors?.['maxlength']">Le lastname ne doit pas dépasser 15 caractères.</span>
        </div>

            <!-- Password section -->
    <fieldset>
      <label for="password-order">password</label>
      <input id="password-order" name="password-order" type="password" [(ngModel)]="model.password" #password="ngModel" required minlength="5" maxlength="30"/>
      </fieldset>
  
      <!-- Message d'erreurs de password -->
      <div *ngIf="myForm.submitted">
      <span *ngIf="password.errors?.['required']">Le password est requis</span>
      <span *ngIf="password.errors?.['minlength']">Le password doit comporter au moins 3 caractères.</span>
      <span *ngIf="password.errors?.['maxlength']">Le password ne doit pas dépasser 15 caractères.</span>
      </div>

    <button type="submit">Inscription</button>
  </form>